<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Home</title>
</head>

<body class="container mt-5" style="background-color: #37818A;">
    <div class="alert alert-info display-1 text-center"><img src="" alt="" style="width: 100px;">Gastronomia con gaston gatuso</div>
    <div class="row">
        <div class="col"><a href="datosAutor/" class="btn btn-primary w-100 p-3 ">Datos del Autor</a></div>
        <div class="col"><a href="formInst/" class="btn btn-success w-100 p-3 ">Agregar Institucion</a></div>
        <div class="col"><a href="formInsc/" class="btn btn-primary w-100 p-3 ">Agregar Participante</a></div>
        <div class="col"><a href="inscrito_class/" class="btn btn-success w-100 p-3 "> Listado Inscritos</a></div>
        <div class="col"><a href="institucion_function/" class="btn btn-primary w-100 p-3 ">Listado Institucion</a></div>
    </div>

</body>

</html>